<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264952547307-5o81ruo7qcvtre4oc8i0bm0fvaqghsjr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264952547307-5o81ruo7qcvtre4oc8i0bm0fvaqghsjr</string>
	<key>API_KEY</key>
	<string>AIzaSyARY6K2q1RPeM2YeLOhVkJ2ywogy3Xi4zk</string>
	<key>GCM_SENDER_ID</key>
	<string>264952547307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.luizv.ReceitaApp</string>
	<key>PROJECT_ID</key>
	<string>receitaserver</string>
	<key>STORAGE_BUCKET</key>
	<string>receitaserver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264952547307:ios:a59dbbfd73220ddc</string>
	<key>DATABASE_URL</key>
	<string>https://receitaserver.firebaseio.com</string>
</dict>
</plist>